.App {
  font-family: sans-serif;
  text-align: center;
}

.heading {
  text-align: center;
  padding: 10px;
  color: whitesmoke;
  font-size: 14px;
  height: 20px;
  width: 98.7%;
  background-color: #0040ff;
}

.headerInfo {
  border: 1px black;
  height: 80px;
  width: 98.7%;
  border-color: black;
  border-style: solid;
  padding: 20px;
  margin: 7px;
}

.headerOut {
}
